  certifi==2025.1.31
  chardet==5.2.0
  charset-normalizer==3.4.1
  contourpy==1.2.0
  cycler==0.12.1
  fonttools==4.47.2
  idna==3.10
  joblib==1.4.2
  jsonpickle==4.0.2
  kiwisolver==1.4.5
  matplotlib==3.8.2
  more-itertools==10.6.0
  music21==9.5.0
  numpy==1.26.3
  packaging==23.2
  pillow==10.2.0
  pyparsing==3.1.1
  python-dateutil==2.8.2
  requests==2.32.3
  scipy==1.11.4
  six==1.16.0
  urllib3==2.3.0
  webcolors==24.11.1
